@model Gioia.Models.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="element-main">
            <p> Enter your mail to reset your password</p>
            @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

            <div class="form-group">
                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Your e-mail address" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-default" })

                </div>
            </div>
                <input type="submit" class="btn btn-success" value="Reset my Password" />
                }
            </div>
    </div>

    <!--element end here-->
</body>
</html>
